@model GucciBazaar.Models.Category[]

@{
    ViewBag.Title = "Afisare categorii";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
    </title>
</head>
<body>
    <div class="title">
        <h3>@ViewBag.Title</h3>
    </div>
    <div>
        <ul>
            @foreach (var category in Model)
            {
                <li class="utilizator">
                    @category.Name
                    <a href="/Category/Show/@category.Id">
                        <img class="small-icons" src="http://icons.iconarchive.com/icons/icons8/ios7/512/Programming-Show-Property-icon.png" />
                    </a>
                    @*<a  href="/Users/Delete/@user.Id">
                    <img class="small-icons" src="https://cdn2.iconfinder.com/data/icons/apple-inspire-white/100/Apple-64-512.png"/>
                </a>*@
                </li>
            }
        </ul>
    </div>
</body>
</html>
