@model GucciBazaar.Models.Category

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="form-container">
        <br />
        <p>Name: @Model.Name</p>
        <div style="margin-top:40px;" class="butoane">
            <a style="margin-right:10px;" href="/Category/Edit/@Model.Id">
                <input type="submit" class="btn btn-primary" value="Edit category" />
            </a>
            <form method="post" action="/Category/Delete/@Model.Id">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <input type="submit" class="btn btn-primary" value="Delete category" />
            </form>
        </div>
    </div>
</body>
</html>
