@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<div class="login">
    <div class="dropdown-register">
        <img class="icons" style="margin:10px 20px 0px 20px;"
             src="https://cdn2.iconfinder.com/data/icons/4web-3/139/header-account-image-line-512.png">
        <div class="dropdown-register-content">
            @Html.ActionLink("My profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        </div>
    </div>    
</div>
    }
}
else
{
    <div class="login">
        <div class="dropdown-register">
            <img class="icons" style="margin:10px 20px 0px 20px;" src="https://cdn2.iconfinder.com/data/icons/4web-3/139/header-account-image-line-512.png">
            <div class="dropdown-register-content">
                @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </div>
        </div>
    </div>
}
