@{
    ViewBag.Title = "Home Page";
}


<img class="bg-image" src="https://markkinointiakatemia.fi/wp-content/uploads/2019/06/google-shopping-kapea-1024x535.jpg"/>
<div class="bg-text">
  <h2 style="font-size:70px;">It's shopping time</h2>
</div>